@use "sass:math";

// 默认设计稿的宽度
$designWidth: 1920;
// 默认设计稿的高度
$designHeight: 1080;

// Base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// bg
$bgColor: #f0f2f5;

// navigation
$navigationHeight: 50px;

// sidebar
$sideBarWidth: 210px;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$menuHover: #263445;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// px转为vw
@function px2vw($px, $defaultWidth: $designWidth) {
  @return math.div($px, $defaultWidth) * 100vw;
}

// px转为vh
@function px2vh($px, $defaultHeight: $designHeight) {
  @return math.div($px, $defaultHeight) * 100vh;
}