.el-button.is-link {
  padding: 4px;
  margin: 0;
}
.el-button.el-button--text {
  margin-left: 5px;
}
.el-button {
  height: 32px;
}
.el-button.is-circle {
  padding: 6px;
}

.el-button--small {
  font-size: 14px;
}
